<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KabinAnalyzes</title>
    <style>
        .button {
          display: inline-block;
          padding: 10px 20px;
          background-color: black;
          color: white;
          border-radius: 5px;
          text-align: center;
          cursor: pointer;
        }
        .center {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
        }
      </style>
</head>
<body>
    <div class="center">
        <button class="button" onclick="window.location.href='/authenticate'">Button</button>
      </div>
</body>
</html>